// // Dark
$blue-100-color-dark: #EDF1FF;
$blue-90-color-dark: #C2CDFB;
$blue-80-color-dark: #96A9F4;
$blue-70-color-dark: #6C88F2;
$blue-60-color-dark: #2C52EA;
$blue-50-color-dark: #143FE4;
$blue-40-color-dark: #1335BF;
$blue-30-color-dark: #122b9b;
$blue-20-color-dark: #102274;
$blue-10-color-dark: #0F1C4F;

$gray-100-color-dark: #ffffff;
$gray-90-color-dark: #E8E8E8;
$gray-80-color-dark: #D1D1D1;
$gray-70-color-dark: #BABABA;
$gray-60-color-dark: #909090;
$gray-50-color-dark: #7B7B7B;
$gray-40-color-dark: #585858;
$gray-30-color-dark: #3B3B3B;
$gray-20-color-dark: #262626;
$gray-10-color-dark: #111111;

$dark-blue-100-color-dark: #FCFDFF;
$dark-blue-90-color-dark: #F5F7FF;
$dark-blue-80-color-dark: #EBEFFF;
$dark-blue-70-color-dark: #D8DDF2;
$dark-blue-60-color-dark: #CACFE5;
$dark-blue-50-color-dark: #596180;
$dark-blue-40-color-dark: #3D4566;
$dark-blue-30-color-dark: #262E4D;
$dark-blue-20-color-dark: #1D2440;
$dark-blue-10-color-dark: #161C33;



// // Light
$blue-100-color-light: #0f1b4f;
$blue-90-color-light: #102274;
$blue-80-color-light: #122b9b;
$blue-70-color-light: #1333bf;
$blue-60-color-light: #143fe4;
$blue-50-color-light: #3f63ea;
$blue-40-color-light: #6b86ef;
$blue-30-color-light: #96a9f4;
$blue-20-color-light: #c2cdfb;
$blue-10-color-light: #edf0ff;

$gray-100-color-light: #111111;
$gray-90-color-light: #262626;
$gray-80-color-light: #3b3b3b;
$gray-70-color-light: #585858;
$gray-60-color-light: #7b7b7b;
$gray-50-color-light: #909090;
$gray-40-color-light: #bababa;
$gray-30-color-light: #d1d1d1;
$gray-20-color-light: #e8e8e8;
$gray-10-color-light: #ffffff;

$dark-blue-100-color-light: #161C33;
$dark-blue-90-color-light: #1d2440;
$dark-blue-80-color-light: #262e4d;
$dark-blue-70-color-light: #3d4566;
$dark-blue-60-color-light: #596180;
$dark-blue-50-color-light: #cacfe5;
$dark-blue-40-color-light: #d8ddf2;
$dark-blue-30-color-light: #ebefff;
$dark-blue-20-color-light: #f5f7ff;
$dark-blue-10-color-light: #fcfdff;



